<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476075940220-9h83h64trqor8klcut794ec8h585pkug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476075940220-9h83h64trqor8klcut794ec8h585pkug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476075940220-ptfq39b84ih4rb56us1hkdtjejv3ed2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHnz1moDuL-T6JBudNurdyXcRqc2IZ8I</string>
	<key>GCM_SENDER_ID</key>
	<string>476075940220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.spartan.toDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-92</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476075940220:ios:03d655a3bfb8e515aeacf9</string>
</dict>
</plist>